body{
    background: #fefefe;
    font-family: arial, sans-serif;
    font-size: 11pt;
    line-height: 18px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li a{
    padding: 3px 4px;
    display: block;
    width: 200px;
    background: #eee;
    margin-bottom: 1px;
}

.container{
    background: #fff;
}

a{
    text-decoration: none;
    color: #2b2b2b;
}